DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
POSTGRES_USER=root
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=local
APP_HOST=localhost
OTP_SECRET=YOUR_GENERATED_SECRET_HERE
SESSION_SECRET=ANOTHER_STRONG_RANDOM_SECRET
# Optional: Refresh token secret and expiration time
REFRESH_SECRET=YET_ANOTHER_STRONG_SECRET
REFRESH_TOKEN_EXPIRY=7d
SESSION_EXPIRY=1h
TZ=Europe/Berlin

COMPOSE_BAKE=true