DATABASE_LOCATION=./postgres
DATABASE_URL="postgres://root:STRONG_RANDOM_SECRET@chorehub-db:5432/local"
POSTGRES_USER=root
POSTGRES_PASSWORD=STRONG_RANDOM_SECRET
POSTGRES_DB=local
APP_PORT=3000
APP_HOST=127.0.0.1
TZ=Europe/Berlin

# If you want to develop for the mobile shell, you can run that part as an npm
# server and set the URL here. It allows for hot-reloading.
#CAP_SERVER_URL=