DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
POSTGRES_USER=root
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=local
APP_HOST=localhost
LETSENCRYPT_EMAIL=email@example.com
TZ=Europe/Berlin

COMPOSE_BAKE=true